body {
  background-color: #129062;
  padding: 45px 0;
  color: white;
}

.avatar {
  border-radius: 100px;
}

h3 {
  font-family: "Lobster", cursive;
  margin: 10px 0 8px 0;
}

p {
  font-family: system-ui;
  width: 450px;
}

@media only screen and (max-width: 600px) {
  p {
    width: 100%;
  }
}

.button {
  margin-bottom: 20px;
  background-color: white;
  border: 0;
  width: 300px;
  padding: 15px 0 15px 0;
  border-radius: 100px;
  font-family: "Roboto Condensed", cursive;
  font-size: 15px;
  transition-duration: 0.3s;
  transition-property: color, background-color;
  -webkit-box-shadow: 0px 11px 22px -9px #000000;
  box-shadow: 0px 11px 22px -9px #000000;
  cursor: pointer;
}

.button:hover {
  color: white;
  background-color: black;
}
